<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ingredients</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Butter</string>
			<key>Qty</key>
			<string>2 sticks (½ lb / 225 grams / 1 cup)</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>granulated white sugar</string>
			<key>Qty</key>
			<string>¾ cup (180ml) </string>
		</dict>
		<dict>
			<key>Name</key>
			<string>packed brown sugar</string>
			<key>Qty</key>
			<string>¾ cup (180ml)</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>vanilla extract</string>
			<key>Qty</key>
			<string>¼ teaspoon</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Large Eggs</string>
			<key>Qty</key>
			<string>2</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>all-purpose flour</string>
			<key>Qty</key>
			<string>2 ¼ cups (600ml) (290g)</string>
		</dict>
		<dict>
			<key>Name</key>
			<string> baking soda</string>
			<key>Qty</key>
			<string>1 teaspoon</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>salt</string>
			<key>Qty</key>
			<string>1 teaspoon</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>chocolate chips</string>
			<key>Qty</key>
			<string>2 cups (480ml) </string>
		</dict>
	</array>
	<key>Recipe Name</key>
	<string>Chocolate Chip Cookies</string>
</dict>
</plist>
